xml/sentence.dtd

<!ELEMENT collection ( source, date, key, infon*, document+ ) >
<!ELEMENT source (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT key (#PCDATA)>
<!ELEMENT infon (#PCDATA)>
<!ATTLIST infon key CDATA #REQUIRED >

<!ELEMENT document ( id, passage+ ) >
<!ELEMENT id (#PCDATA)>

<!ELEMENT passage ( infon*, offset, sentence+ ) >
<!ELEMENT offset (#PCDATA)>

<!ELEMENT sentence ( offset, text ) >
<!ELEMENT text (#PCDATA)>
